@use '../foundation/import';

.cmll-title {
	background-color: var(--wp--preset--color--camellia);
	&__item {
		* {
			color: var(--wp--preset--color--light-white) !important;
			text-shadow: 0 0 3px import.$black;
		}
		&__heading {
			&.is-front {
				font-size: 2rem;
			}
		}
	}
}
