@use '../foundation/import';

.wp-block-table {
	width: 100%;
	table {
		thead {
			tr {

			}
		}
		tbody {
			tr {

			}
		}
		tfoot {
			tr {

			}
		}
		th,td {
			padding: import.spvw(4);
			@include import.mqMin(import.$dpS) {
				padding: 8px;
			}
		}
	}
	&.is-style-stripes {
		border-bottom: none;
		table {
			tbody{
				tr {
					&:nth-child(odd) {
					}
				}
			}
		}
	}
	&.is-selected {
		table {
			th,td {

			}
		}
	}
}

