<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"is-wp-post-content-blocks","layout":{"type":"constrained"}} -->
<main class="wp-block-group is-wp-post-content-blocks">
<!-- wp:heading {"level":1} -->
<h1>お探しのページが見つかりません</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>申し訳ございません。<br>アクセスしようとしたページが見つかりませんでした。<br>ページが移動または削除されたか、URLの入力間違いの可能性があります。<br>トップページまたはページ上部の検索フォームから、ご覧になりたい情報をお探しください。</p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons">
    <!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="http://camellia.local/">トップページに戻る</a></div>
<!-- /wp:button -->
</div>
<!-- /wp:buttons -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->